/**********************************Start Base Styles*******************************/
* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
}

h1 {
	text-align: center;
}

.contentBox {
	background-color: #545454;
	text-align: left;
	padding: 5px;
}

.sectionTitle {
	float: right;
	padding: 0px 10px;
	text-align: center;
	color: #000;
	margin: -5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.chicken {
	background-color: #00ff00;
}

.beef {
	background-color: #ff0000;
}

.sushi {
	background-color: #0000ff;
}

.contentSection {
	clear: both;
}

/**********************************End Base Styles*******************************/

/**********************************Start large Devices Styles***************************/
@media ( min-width :992px) {
	.container-fluid {
		width: 100%;
	}
	.row {
		width: 100%;
	}
	.col-lg-4 {
		float: left;
		border: 2px solid black;
	}
	.col-lg-4 {
		width: 32%;
		margin: 0.5%;
	}
}

/**********************************End large Devices Styles***************************/

/**********************************Start tablet Devices Styles***************************/
@media  (min-width:768px) and ( max-width :991px) {
	.container-fluid {
		width: 100%;
	}
	.row {
		width: 100%;
	}
	.col-md-6 , .col-md-12 {
		float: left;
		border: 2px solid black;
	}
	.col-md-6 {
		width: 49%;
		margin: 0.5%;
	}
	.col-md-12 {
		width: 99%;
		margin: 0.5%;
	}
}

/**********************************End tablet Devices Styles***************************/

/**********************************Start small Devices Styles***************************/
@media ( max-width :767px) {
	
	.container-fluid {
		width: 100%;
	}
	.row {
		width: 100%;
	}
	 .col-sd-12 {
		float: left;
		border: 2px solid black;
	}
	
	.col-sd-12 {
		width: 95%;
		margin: 2.5%;
	}
}

/**********************************End small Devices Styles***************************/